#root {
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2em;
}

.table th {
  text-align: center;
}
