#root {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive padding */
@media (min-width: 640px) {
  #root {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  #root {
    padding: 2rem;
  }
}

.card {
  padding: 1rem;
}

@media (min-width: 640px) {
  .card {
    padding: 1.5em;
  }
}

@media (min-width: 1024px) {
  .card {
    padding: 2em;
  }
}

.table th {
  text-align: center;
}
